<html>

<head>
    <title>About Page</title>
</head>

<body 
background="https://static.vecteezy.com/system/resources/thumbnails/003/550/249/small/abstract-pink-fluid-wave-background-free-vector.jpg"
style="background-size: cover; background-repeat: no-repeat;">

    <br><br><br>

    <nav align="center">

        <a href="{% url 'home' %}">Home</a>

        <a href="{% url 'contact' %}" style="margin-left:20px;">Contact</a>

        <a href="{% url 'tablepage' %}" style="margin-left:20px;">Table Page</a>

        <a href="{% url 'services' %}" style="margin-left:20px;">Services</a>
        
        <a href="{% url 'testing' %}" style="margin-left:20px;">testing</a>

    </nav>

    <br><br>

    <center>

        <h1>About Us</h1>

        <p>
            Welcome to our Django Website.
        </p>

        <p>
            This website is created for learning Django web development.
        </p>

        <p>
            Here you can learn Home, About and Contact page creation.
        </p>

        <p>
            Django helps to create fast and secure websites.
        </p>

    </center>

</body>

</html>